<div class="h-100 bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
            <div class="app-logo-inverse mx-auto mb-3"></div>
            <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                    
                        <div class="modal-body">
                            <div class="h5 modal-title text-center">
                                <h4 class="mt-2">
                                    <div>Check</div>
                                    <span>your balance below:</span>
                                </h4>
                            </div>
                            <mw-vmessage *ngIf="error"
                                text="Invalid value." class="mb-2">
                            </mw-vmessage>
                            <div id="exampleInputGroup1" role="group"
                                aria-describedby="exampleInputGroup1__BV_description_" class="text-center">
                                {{balance}}
                            </div>
                        </div>
                        <div class="modal-footer text-left">                            
                            <div class="">
                                <button class="btn btn-primary btn-lg" onClick="history.go(-1)">
                                    Back
                                </button>
                            </div>
                        </div>

                </div>
            </div>
            <div class="text-center text-black opacity-8 mt-3">
                
            </div>
        </div>
    </div>
</div>